{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'qna/list.css'%}">
<div>
  <h1>QnA</h1>
</div>
<div class="head">
    <p class="title"><b>목록</b></p>
    <p class="create_date"><b>등록일</b></p>
    <p class="notanswered"><b>답변</b></p>
</div>
<hr>
{% for qna in qna_list %}

<div class="content_bx">
  <div class="content">
    {% if user.id == qna.author.id or user.is_staff == 1 %}
  <p class="title" id="{{qna.id}}"><a href="{% url 'qna:qna_detail' qna.id %}">{{qna.title}}</a></p>
  {% else %}
    {% if qna.secret == "yes" %}
    <p class="secret_title"><i>비밀글입니다.</i></p>
    {% else %}
    <p class="title" id="{{qna.id}}"><a href="{% url 'qna:qna_detail' qna.id %}">{{qna.title}}</a></p>
    {% endif %}
  {% endif %}
    <p class="create_date">{{qna.create_date}}</p>
    {% if qna.answer %}
    <p class="answered">답변 완료</p>
    {% else %}
    <p class="notanswered"></p>
    {% endif %}
    </div>
</div>
{% endfor %}
<hr>
<input class="add_btn" type="button" value="글쓰기" id="form">
<!--<input class="add_btn" type="button" value="내글보기" id="form">-->
<script src="{% static 'qna/list.js'%}"></script>
{% endblock %}